@model tdweb.Models.StockData.AAListing

@if (Model.StockList != null)
{  

    <p class="clearfix">
    <ul class="pagination">
    Page @Model.CurrentPageNum of @Model.TotalPageNum  (Total @Model.TotalRecords)
    <br />

    @for (int i = 0; i < @Model.TotalPageNum; i++)
    {
        <li><a href="#" onclick="reloadData(@Model.CurrentPageNum-1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        if ((i + 1) == @Model.CurrentPageNum)
        {
            <li class="active"><span>@(i + 1)</span></li>
        }
        else
        {
            <li><a href="#" onclick="reloadDataAA(@(i + 1));" >@(i + 1)</a></li>
        }
        <li><a href="#" onclick="reloadData( (@Model.CurrentPageNum+1) <= @Model.TotalPageNum ? @Model.CurrentPageNum+1 : -1 );" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    }
    </ul>
    </p>
    
    <ul class="stockItem list-inline">
        @foreach (dynamic item in Model.StockList)
        {
            <li class="col-md-4 col-xs-6">
                <div class="stockWrapper">
                    <h5>@item.Number. @item.StockName (@item.StockID)</h5>
                    <table>
                        <tr>
                            <td>Algo date</td>
                            <td>@item.NewsDateTime</td>
                        </tr>
                        <tr>
                            <td>Quarter Report Date</td>
                            <td>@item.QuarterRptDate</td>
                        </tr>
                        <tr>
                            <td>PBTSuprisePtChg</td>
                            <td>@item.PBTSuprisePtChg</td>
                        </tr>
                        <tr>
                            <td>PBTCurrentQuarter</td>
                            <td>@item.PBTCurrentQuarter</td>
                        </tr>
                        <tr>
                            <td>PBTPrevQuarter</td>
                            <td>@item.PBTPrevQuarter</td>
                        </tr>
                         <tr>
                            <td>RevSuprisePtChg</td>
                            <td>@item.RevSuprisePtChg</td>
                        </tr>
                        <tr>
                            <td>RevCurrentQuarter</td>
                            <td>@item.RevCurrentQuarter</td>
                        </tr>
                        <tr>
                            <td>RevPrevQuarter</td>
                            <td>@item.RevPrevQuarter</td>
                        </tr>
                         <tr>
                            <td>Days90DHigh</td>
                            <td>@item.Days90DHigh</td>
                        </tr>
                    </table>
                </div>
            </li>
        }
    </ul>

}




<script type="text/javascript">

    function reloadDataAA(pageNum) {

        //$('#scrollPos').val($(document).scrollTop());


        $.ajax({
            url: "../Home/StockAA_Partial",
            data: { "PageNum": pageNum },
            type: "POST",
            beforeSend: function () {

            },
            cache: false,
            success: function (data) {
                $('#stocklistLabel').hide();
                $("#stockAAPartial").html(data);
            },
            error: function () {
                alert('uh oh...');
            }
        });
    }
    

</script>
