@model tdweb.Models.StockData.QAListing

@if (Model.StockList != null)
{
    <nav>
    <ul class="pagination">
    @Model.CurrentPageNum of @Model.TotalPageNum (Total @Model.TotalRecords)
    <br />
    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    @for (int i = 0; i < @Model.TotalPageNum; i++)
			{
                if ((i + 1) == @Model.CurrentPageNum)
                {
                    <li class="active">@(i + 1)</li>
                }
                else
                {
        <li><a href="#" onclick="reloadData(@(i + 1));" >@(i + 1)</a></li>
                }
            }
    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
    </nav>
    
<ol class="round">
    @foreach (dynamic item in Model.StockList)
    {
        <li>
            <h5>@item.Number. @item.StockName (@item.StockID)</h5>
            <table>
                <tr>
                    <td>Day Z-Score</td>
                    <td>(30D) @item._30DayZScore</td>
                    <td>&nbsp;</td>
                    <td>(60D) @item._60DayZScore</td>
                </tr>
                <tr>
                    <td>Dynamic Liquidity</td>
                    <td>(30D) @item._30DayLiq</td>
                    <td>&nbsp;</td>
                    <td>(60D) @item._60DayLiq</td>
                </tr>
            </table>
        </li>
    }
</ol>
}



<script type="text/javascript">

    function reloadData(pagenum) {

        //$('#scrollPos').val($(document).scrollTop());
        $('#stocklistLabel').show();

        $.ajax({
            url: "../Home/StockQA_Partial",
            data: { "PageNum": pagenum },
            type: "POST",
            cache: false,
            success: function (data) {
                $('#stocklistLabel').hide();
                $("#stockQAPartial").html(data);
            },
            error: function () {
                alert('uh oh...');
            }
        });
    }
    

</script>
