@model tdweb.Models.StockData.QAListing

@if (Model.StockList != null)
{
    
    <ul class="stockItem list-inline">
        @foreach (dynamic item in Model.StockList)
        {
            <li class="col-md-3 col-xs-2">
                <div class="stockWrapper">
                    <h5>@item.Number. @item.StockName (@item.StockID)</h5>
                    <div class="dayZ">
                        <span class="stockInfoType">Day Z-Score</span>
                        <table class="stockTable">
                            <tr>
                                <th>30D</th>
                                <th>60D</th>
                            </tr>
                            <tr>
                                <td>@item._30DayZScore</td>
                                <td>@item._60DayZScore</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dynamicLiq">
                        <span class="stockInfoType">Dynamic Liquidity</span>
                        <table class="stockTable">
                            <tr>
                                <th>30D</th>
                                <th>60D</th>
                            </tr>
                            <tr>
                                <td>@item._30DayLiq</td>
                                <td>@item._60DayLiq</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>
        }
    </ul>

    <ul class="pagination clearfix">
    Page @Model.CurrentPageNum of @Model.TotalPageNum (Total @Model.TotalRecords)
    <br />
    <li><a href="#" onclick="reloadData(@Model.CurrentPageNum-1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    @for (int i = 0; i < @Model.TotalPageNum; i++)
            {
                if ((i + 1) == @Model.CurrentPageNum)
                {
                    <li class="active"><span>@(i + 1)</span></li>
                }
                else
                {
                    <li><a href="#" onclick="reloadData(@(i + 1));" >@(i + 1)</a></li>
                }
            }
    <li><a href="#" onclick="reloadData( (@Model.CurrentPageNum+1) <= @Model.TotalPageNum ? @Model.CurrentPageNum+1 : -1 );" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
}



<script type="text/javascript">

    function reloadData(pagenum) {
    	
    	if (pagenum <= 0) return;
    	//if (pagenum > @Model.TotalPageNum) return;
    	
        //$('#scrollPos').val($(document).scrollTop());
        $('#stocklistLabel').show();

        $.ajax({
            url: "../Home/StockQA_Partial",
            data: { "PageNum": pagenum },
            type: "POST",
            cache: false,
            success: function (data) {
                $('#stocklistLabel').hide();
                $("#stockQAPartial").html(data);
            },
            error: function () {
                alert('uh oh...');
            }
        });
    }
    

</script>
